{% extends "base.html" %} {% block content %}
<style>
	.card {
		border-radius: 0;
		box-shadow: 5px 5px 15px #bfbfbf;
		transition: all 0.3s ease-in;
		-webkit-transition: all 0.3s ease-in;
		-moz-transition: all 0.3s ease-in;
		color: black;
	}
	.card:hover {
		background: #585858;
		color: #fff;
		border-radius: 5px;
		border: none;
		box-shadow: 5px 5px 10px #9e9e9e;
	}
	.card:hover h3,
	.card:hover i {
		color: #fff;
	}
</style>

<h1 style="font-size: 4rem; " class="text-center">THE CELEBRITIES</h1>
<div class="container">
	<div class="row m-4">
		<div class="col-sm-4">
			<div class="card d-flex">
				<div class="card-body">
					<img
						src="../../media/images/da2a224d-c8f2-4325-a01f-26cda3022416.jpg"
						class="card-img-top justify-content-center"
						style="max-width: auto; height: auto"
					/>
					<h5 class="card-title">Celebrity Name</h5>
					<p class="card-text">
						Lorem Ipsum is simply dummy text of the printing and typesetting
						industry. Lorem Ipsum has been the industry's standard dummy text
						ever since the 1500s, when an unknown printer took a galley of type
						and scrambled it to make a type specimen book.
					</p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card d-flex">
				<div class="card-body">
					<img
						src="../../media/images/1606387417255.jpg"
						class="card-img-top"
						style="max-width: auto; height: auto"
					/>
					<h5 class="card-title d-flex">Celebrity Name</h5>
					<p class="card-text">
						Lorem Ipsum is simply dummy text of the printing and typesetting
						industry. Lorem Ipsum has been the industry's standard dummy text
						ever since the 1500s, when an unknown printer took a galley of type
						and scrambled it to make a type specimen book.
					</p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card d-flex">
				<div class="card-body">
					<img
						src="../../media/images/1231231231.jpg"
						class="card-img-top"
						style="max-width: auto; height: auto"
					/>
					<h5 class="card-title d-flex">Celebrity Name</h5>
					<p class="card-text">
						Lorem Ipsum is simply dummy text of the printing and typesetting
						industry. Lorem Ipsum has been the industry's standard dummy text
						ever since the 1500s, when an unknown printer took a galley of type
						and scrambled it to make a type specimen book.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row m-4">
		<div class="col-sm-4">
			<div class="card d-flex">
				<div class="card-body">
					<img
						src="../../media/images/da2a224d-c8f2-4325-a01f-26cda3022416.jpg"
						class="card-img-top"
						style="max-width: auto; height: auto"
					/>
					<h5 class="card-title d-flex">Celebrity Name</h5>
					<p class="card-text">
						Lorem Ipsum is simply dummy text of the printing and typesetting
						industry. Lorem Ipsum has been the industry's standard dummy text
						ever since the 1500s, when an unknown printer took a galley of type
						and scrambled it to make a type specimen book.
					</p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card">
				<div class="card-body ">
					<img
						src="../../media/images/1606387417255.jpg"
						class="card-img-top"
						style="max-width: auto; height: auto"
					/>
					<h5 class="card-title d-flex">Celebrity Name</h5>
					<p class="card-text">
						Lorem Ipsum is simply dummy text of the printing and typesetting
						industry. Lorem Ipsum has been the industry's standard dummy text
						ever since the 1500s, when an unknown printer took a galley of type
						and scrambled it to make a type specimen book.
					</p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card">
				<div class="card-body ">
					<img
						src="../../media/images/1231231231.jpg"
						class="card-img-top"
						style="max-width: auto; height: auto"
					/>
					<h5 class="card-title d-flex">Celebrity Name</h5>
					<p class="card-text">
						Lorem Ipsum is simply dummy text of the printing and typesetting
						industry. Lorem Ipsum has been the industry's standard dummy text
						ever since the 1500s, when an unknown printer took a galley of type
						and scrambled it to make a type specimen book.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
